.nav {
  grid-area: n;
  background-color:coral;
  padding: 20px;
}

.item a {
  color: whitesmoke;
  text-decoration: none;
}

.item a.activeLink {
  color: yellow;
}


.friend {
  padding-top: 50px;
}
